<div class="space-y-2">
  <div class="border-b border-gray-700 pb-2">
  <button class="w-12 h-12 bg-red-600 rounded-full  mt flex items-center justify-center hover:scale-105 transition">
    <svg
      class="w-6 h-6 text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        fill-rule="evenodd"
        d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
        clip-rule="evenodd"
      />
    </svg>
  </button>

  </div>

  <!-- Кнопка "+" -->
  <button class="w-12 h-12 bg-gray-700 rounded-full text-white text-xl font-bold flex items-center justify-center hover:bg-gray-600 transition">
    +
  </button>
</div>
