<div class="flex flex-col h-full p-4">
  <div class="flex-grow overflow-auto p-4">
    <!-- Итерируем через все сообщения -->
    <div *ngFor="let msg of messages" class="my-2" [ngClass]="{'text-right': msg.sender === sender, 'text-left': msg.sender !== sender}">
      <div [ngClass]="{'bg-red-600 text-white': msg.sender === sender, 'bg-gray-300': msg.sender !== sender}" class="inline-block p-3 rounded-lg">
        <!-- Имя отправителя -->
        <div class="font-semibold">{{ msg.sender_username }}</div>
        <!-- Текст сообщения -->
        <div>{{ msg.message || msg.text }}</div> <!-- Используем msg.text, независимо от того старое это сообщение или новое -->
        <!-- Время отправки сообщения -->
        <div class="text-xs text-gray-500">{{ msg.timestamp | date: 'short' }}</div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <input
      [(ngModel)]="messageInput"
      (keyup.enter)="sendMessage()"
      class="w-full p-3 border border-gray-300 rounded-lg"
      placeholder="Напишите сообщение..."
    />
  </div>
</div>
