<div class="grid grid-rows-[auto,1fr,auto] h-full relative">
  <!-- Header -->
  <ng-container *ngIf="!callActive">
    <app-header
      context="chat"
      [friend]="friend"
      (startCall)="startCall()"
    ></app-header>
  </ng-container>

  <div
    *ngIf="callActive"
    class="items-center justify-center bg-zinc-800 z-10"
  >
    <app-call (callEnded)="endCall()"></app-call>
  </div>

  <!-- Сообщения -->
  <div
    class="flex-grow overflow-auto p-4 space-y-3 h-[calc(100vh-12rem)]"
    [class.h-[calc(100vh-16rem)]]="callActive"
    #messagesContainer
  >
    <div
      *ngFor="let msg of messages"
      class="my-2 flex items-start w-full p-4 text-white hover:bg-zinc-600 rounded-lg"
    >
      <!-- Аватар -->
      <img
        *ngIf="msg.sender === sender"
        src="{{ msg.sender_avatar || 'avatars/default-avatar.png' }}"
        alt="Avatar"
        class="w-10 h-10 rounded-full mr-3"
      />
      <img
        *ngIf="msg.sender !== sender"
        src="{{ msg.sender_avatar || 'avatars/default-avatar.png' }}"
        alt="Avatar"
        class="w-10 h-10 rounded-full mr-3"
      />

      <!-- Сообщение и время -->
      <div class="flex flex-col space-y-2">
        <div class="font-semibold text-sm">{{ msg.sender_username }}</div>
        <div class="text-xs text-gray-400 mt-1">
          {{ msg.timestamp | date: 'short' }}
        </div>
        <div class="text-sm break-words">
          {{ msg.message || msg.text }}
        </div>
      </div>
    </div>
  </div>

  <!-- Поле ввода -->
  <div class="p-4 mt-auto">
    <input
      [(ngModel)]="messageInput"
      (keyup.enter)="sendMessage()"
      class="w-full p-3 border border-zinc-600 rounded-lg focus:outline-none focus:ring focus:ring-blue-400 text-white bg-zinc-800 placeholder-zinc-500"
      placeholder="Напишите сообщение..."
    />

    <!-- Ошибка длины сообщения -->
    <div *ngIf="messageError" class="text-red-500 text-sm mt-2">
      {{ messageError }}
    </div>
  </div>



  <!-- Уведомление -->
  <div *ngIf="showNotification" class="fixed bottom-0 left-1/2 transform -translate-x-1/2 z-50 p-4 rounded-lg bg-green-500 text-white">
    <p>{{ notificationMessage }}</p>
  </div>
</div>
