<div class="flex flex-col items-center justify-center min-h-screen bg-main-surface-primary">

  <div class="w-full max-w-md bg-main-surface-secondary shadow-lg rounded-lg p-8">
    <h2 class="text-2xl font-bold text-center mb-6 text-white">
      {{ isLoginMode ? 'Авторизация' : 'Регистрация' }}
    </h2>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="space-y-4">

      <!-- Поле для username (только при регистрации) -->
      <div *ngIf="!isLoginMode">
        <label for="username" class="block mb-2 text-sm font-medium text-white">Имя пользователя</label>
        <input
          id="username"
          formControlName="username"
          type="text"
          class="w-full px-3 py-2 border border-gray-600 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 text-black"
          placeholder="Введите имя пользователя"
        />
        <div *ngIf="authForm.get('username')?.invalid && authForm.get('username')?.touched" class="text-red-500 text-sm">
          Имя пользователя обязательно
        </div>
      </div>

      <!-- Поле для email -->
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-white">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          class="w-full px-3 py-2 border border-gray-600 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 text-black"
          placeholder="Введите ваш email"
        />
        <div *ngIf="authForm.get('email')?.invalid && authForm.get('email')?.touched" class="text-red-500 text-sm">
          Введите корректный email
        </div>
      </div>

      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-white">Пароль</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          class="w-full px-3 py-2 border border-gray-600 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 text-black"
          placeholder="Введите ваш пароль"
          required
        />
        <div *ngIf="authForm.get('password')?.hasError('required') && authForm.get('password')?.touched" class="text-red-500 text-sm">
          Пароль обязателен
        </div>
        <div *ngIf="authForm.get('password')?.hasError('minlength') && authForm.get('password')?.touched" class="text-red-500 text-sm">
          Пароль должен быть не менее 6 символов
        </div>
      </div>

      <!-- Подтверждение пароля (только при регистрации) -->
      <div *ngIf="!isLoginMode">
        <label for="confirmPassword" class="block mb-2 text-sm font-medium text-white">Подтвердите пароль</label>
        <input
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          class="w-full px-3 py-2 border border-gray-600 rounded-lg focus:ring-2 focus:ring-green-500 focus:border-green-500 text-black"
          placeholder="Подтвердите ваш пароль"
        />
        <div *ngIf="authForm.get('password')?.hasError('required') && authForm.get('password')?.touched" class="text-red-500 text-sm">
          Пароль обязателен
        </div>
        <div *ngIf="authForm.get('password')?.hasError('minlength') && authForm.get('password')?.touched" class="text-red-500 text-sm">
          Пароль должен быть не менее 6 символов
        </div>
        <div *ngIf="authForm.get('confirmPassword')?.hasError('passwordMismatch') && authForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
          Пароли не совпадают.
        </div>
      </div>

      <!-- Сообщения об ошибке или успехе -->
      <div *ngIf="successMessage" class="text-green-500 text-sm text-center mt-4">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="text-red-500 text-sm text-center mt-4">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="text-white bg-green-500 disabled:bg-gray-600 hover:bg-gray-600 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center transition"
      >
        {{ isLoginMode ? 'Войти' : 'Зарегистрироваться' }}
      </button>
    </form>

    <p class="text-sm text-center mt-4 text-white">
      {{ isLoginMode ? 'Нет аккаунта?' : 'Уже есть аккаунт?' }}
      <a (click)="onSwitchMode()" class="text-green-500 cursor-pointer">
        {{ isLoginMode ? 'Зарегистрироваться' : 'Войти' }}
      </a>
    </p>
  </div>
</div>
