@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  /* Цвета */
  --color-main-surface-primary: #212121;
  --color-main-surface-secondary: #2f2f2f;

  --color-typo-secondary: #b4b4b4;

  --color-sidebar-surface-primary: #171717;
  --color-sidebar-surface-secondary: #212121;

  --color-green-500: #01796F;

  /* Шрифты */
  --font-sans: "Inter", "sans-serif";
}

/* Настройка скроллбара */
@layer utilities {
  .scrollbar-rounded::-webkit-scrollbar {
    border-radius: 9999px;
  }
}



input, textarea {
  font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Noto Color Emoji', sans-serif;
}

#video-container video {
  border-radius: 1rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: black;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 4px;
  border: 2px solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #66bb6a;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 4px;
}
