 <div class="flex flex-col space-y-2 px-6 pt-6">
    <h2 class="text-xl font-semibold text-typo-secondary">Ожидание заявок в друзья</h2>
      <span class="text-sm text-typo-secondary">Здесь отображаются все заявки, которые вы получили</span>
  </div>



  <div class="overflow-y-auto space-y-3 px-6 p-6">
    <div class="flex items-center space-x-3 py-3 px-3 justify-between rounded-md bg-main-surface-secondary"
         *ngFor="let request of pendingRequests">

      <div class="flex items-center space-x-3"
           *ngIf="pendingRequests.length > 0">

        <img class="w-10 h-10 rounded-full"
             [src]="request.from_user.avatar || 'avatars/default-avatar.png'"
             alt="{{ request.from_user.username }}">


        <span class="text-sm text-gray-300">{{ request.from_user.username }}</span>
      </div>


      <div class="flex space-x-4">

        <button (click)="acceptRequest(request.from_user.id)" class="text-sm text-white p-3 py-3 rounded-2xl bg-green-500 transition duration-300">
          Принять
        </button>

        <button (click)="rejectRequest(request.from_user.id)" class="text-sm text-white p-3 py-3 rounded-2xl bg-red-500 transition duration-300">
          Отклонить
        </button>

      </div>


    </div>
  </div>


  <!-- Сообщение, если нет заявок -->
  <p *ngIf="pendingRequests.length === 0" class="text-center text-typo-secondary mt-4">
    У вас нет ожидающих заявок
  </p>

